<div class="index-container">
    <div class="index-contents">
        <div class="logo-div">
            <img src="images/friend-finder-logo.png">
        </div>
        <hr>
        <h3>Answer a few questions and find a friend</h3>
        <a href="survey" class="button go-to-survey-btn">
            <img src="images/glyphicons-list-alt.png"> Go To Survey
        </a>
    </div>

    <br>
    <a href="/api/friends">API Friends List</a> |
    <a href="https://github.com/kennyt85/FriendFinder">GitHub Repo</a>
</div>