<h3>
  Survey Question</h3>
<hr>
<h4>
  <strong>About You</strong>
</h4>
<div class="grid-x grid-padding-x">
  <div class="medium-6 cell">
    <label>Name (Required)
      <input type="text" id="nameInput">
    </label>
  </div>
  <div class="medium-6 cell">
    <label>Link to Photo Image (Required)
      <input type="text" id="photoUrl">
    </label>
  </div>
</div>
<div class="survey-question-container">
  <h5>
    <strong>Movie genre, choose 1 don't like as much, 5 love it</strong>
  </h5>
  <fieldset>
    <legend>Comedy</legend>
    <input type="radio" name="questionOne" value="1">
    <label>1</label>
    <input type="radio" name="questionOne" value="2">
    <label>2</label>
    <input type="radio" name="questionOne" value="3">
    <label>3</label>
    <input type="radio" name="questionOne" value="4">
    <label>4</label>
    <input type="radio" name="questionOne" value="5">
    <label>5</label>
  </fieldset>
  <fieldset>
    <legend>Horror</legend>
    <input type="radio" name="questionTwo" value="1">
    <label>1</label>
    <input type="radio" name="questionTwo" value="2">
    <label>2</label>
    <input type="radio" name="questionTwo" value="3">
    <label>3</label>
    <input type="radio" name="questionTwo" value="4">
    <label>4</label>
    <input type="radio" name="questionTwo" value="5">
    <label>5</label>
  </fieldset>
  <fieldset>
    <legend>Triller</legend>
    <input type="radio" name="questionThree" value="1">
    <label>1</label>
    <input type="radio" name="questionThree" value="2">
    <label>2</label>
    <input type="radio" name="questionThree" value="3">
    <label>3</label>
    <input type="radio" name="questionThree" value="4">
    <label>4</label>
    <input type="radio" name="questionThree" value="5">
    <label>5</label>
  </fieldset>
  <fieldset>
    <legend>Western</legend>
    <input type="radio" name="questionFour" value="1">
    <label>1</label>
    <input type="radio" name="questionFour" value="2">
    <label>2</label>
    <input type="radio" name="questionFour" value="3">
    <label>3</label>
    <input type="radio" name="questionFour" value="4">
    <label>4</label>
    <input type="radio" name="questionFour" value="5">
    <label>5</label>
  </fieldset>
  <fieldset>
    <legend>Action</legend>
    <input type="radio" name="questionFive" value="1">
    <label>1</label>
    <input type="radio" name="questionFive" value="2">
    <label>2</label>
    <input type="radio" name="questionFive" value="3">
    <label>3</label>
    <input type="radio" name="questionFive" value="4">
    <label>4</label>
    <input type="radio" name="questionFive" value="5">
    <label>5</label>
  </fieldset>
  <fieldset>
    <legend>Romance</legend>
    <input type="radio" name="questionSix" value="1">
    <label>1</label>
    <input type="radio" name="questionSix" value="2">
    <label>2</label>
    <input type="radio" name="questionSix" value="3">
    <label>3</label>
    <input type="radio" name="questionSix" value="4">
    <label>4</label>
    <input type="radio" name="questionSix" value="5">
    <label>5</label>
  </fieldset>
  <fieldset>
    <legend>Drama</legend>
    <input type="radio" name="questionSeven" value="1">
    <label>1</label>
    <input type="radio" name="questionSeven" value="2">
    <label>2</label>
    <input type="radio" name="questionSeven" value="3">
    <label>3</label>
    <input type="radio" name="questionSeven" value="4">
    <label>4</label>
    <input type="radio" name="questionSeven" value="5">
    <label>5</label>
  </fieldset>
  <fieldset>
    <legend>Adventure</legend>
    <input type="radio" name="questionEight" value="1">
    <label>1</label>
    <input type="radio" name="questionEight" value="2">
    <label>2</label>
    <input type="radio" name="questionEight" value="3">
    <label>3</label>
    <input type="radio" name="questionEight" value="4">
    <label>4</label>
    <input type="radio" name="questionEight" value="5">
    <label>5</label>
  </fieldset>
  <fieldset>
    <legend>Science Fiction</legend>
    <input type="radio" name="questionNine" value="1">
    <label>1</label>
    <input type="radio" name="questionNine" value="2">
    <label>2</label>
    <input type="radio" name="questionNine" value="3">
    <label>3</label>
    <input type="radio" name="questionNine" value="4">
    <label>4</label>
    <input type="radio" name="questionNine" value="5">
    <label>5</label>
  </fieldset>
  <fieldset>
    <legend>Musical</legend>
    <input type="radio" name="questionTen" value="1">
    <label>1</label>
    <input type="radio" name="questionTen" value="2">
    <label>2</label>
    <input type="radio" name="questionTen" value="3">
    <label>3</label>
    <input type="radio" name="questionTen" value="4">
    <label>4</label>
    <input type="radio" name="questionTen" value="5">
    <label>5</label>
  </fieldset>


  <button class="button" id="submitSurveyBtn">Submit</button>
</div>

<div class="reveal" id="match-friend-modal" data-reveal>
  <div id="match-data"></div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>